@font-face {
    font-family: "Rockford";
    src: url("/font/RockfordSans-Light.otf");
}

@font-face {
    font-family: "Unbutton";
    src: url("/font/unbutton.ttf");
}

@font-face {
    font-family: "LemonMilk";
    src: url("/font/LEMONMILK-Regular.otf");
}

@font-face {
    font-family: "Bebas-Regular";
    src: url("/font/Bebas-Regular.ttf");
}
