html:not([class^="reflect"]) header {
    z-index: 2;
    position: sticky;
    top: 0;
}

header {
    box-shadow: 0px 0.9px 1.2px rgba(0, 0, 0, 0.034),
        0px 1.9px 2.7px rgba(0, 0, 0, 0.05),
        0px 3.2px 4.6px rgba(0, 0, 0, 0.061),
        0px 4.9px 6.9px rgba(0, 0, 0, 0.071), 0px 7px 10px rgba(0, 0, 0, 0.08),
        0px 9.9px 14.2px rgba(0, 0, 0, 0.089),
        0px 14.1px 20.1px rgba(0, 0, 0, 0.099),
        0px 20.4px 29.2px rgba(0, 0, 0, 0.11),
        0px 31.5px 45px rgba(0, 0, 0, 0.126), 0px 56px 80px rgba(0, 0, 0, 0.16);
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--navBG);
}

header nav ul li {
    font-size: larger;
    width: 30%;
    text-align: center;
    transition: background-color 0.5s;
    display: flex;
    flex-direction: column;
}

header nav ul li:first-child > div {
    height: 100%;
}

header nav ul li:hover:not(:first-child) {
    background-color: var(--navLi_HOVER);
}

header nav ul li a {
    text-decoration: none;
    color: var(--navFont);
    width: 100%;
    height: 100%;
    padding-block: 25px;
}

header nav ul li:hover a {
    color: var(--second);
}

header nav ul li:first-child {
    width: 10%;
    align-items: center;
}

header nav ul li span {
    background-color: var(--first);
    height: 4px;
    width: 100%;
}

header nav ul li:hover span {
    background-color: var(--second);
}

#headerlogo {
    width: 75px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}
