main {
    width: 100vw;
    align-items: center;
  }
  
  /*SEARCH*/
  main > div:first-child {
    display: flex;
  }
  
  /*List forms*/
  main > div:last-child {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .blocForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(100% / var(--layoutVisuAllForms, 3));
  }
  
  .blocForm > div {
    margin-block: 10px;
    border: 2px solid var(--first);
    border-radius: 10px;
    background-color: var(--first);
    overflow: hidden;
  }
  
  .blocForm > div > a {
    text-decoration: none;
    color: var(--second);
  }
  
  .blocForm > div p {
    background-color: var(--first);
    text-align: center;
    padding: 5px;
    width: 200px;
  }
  
  .blocForm > div div {
    background-color: var(--second);
  }
  
  .blocForm > div img {
    object-fit: cover;
    object-position: center;
    width: 200px;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    margin-block: 10px;
    border: 2px solid var(--first);
    background-color: var(--first);
  }
  
  .search input {
    padding: 10px;
    border: none;
    width: 30vw;
  }
  
  .search button {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--first);
    position: relative;
    top: -1px;
    height: calc(100% - -1px);
  }
  
  .search button span {
    background-color: #fff0;
    color: white;
  }
  
  .gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
  }
  .gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px;
  }