/*#################################################*/
/*LogInSignUp*/
/*#################################################*/

body header,
body footer {
    height: 10vh;
    width: 100%;
    background-color: var(--LogHeadFoot);
}

#BackgroundAnime {
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes hue-rotate {
  0% {
    filter: blur(15px) contrast(0.85) hue-rotate(0deg);
  }
  50% {
    filter: blur(15px) contrast(0.85) hue-rotate(180deg);
  }
  100% {
    filter: blur(15px) contrast(0.85) hue-rotate(360deg);
  }
}

body main {
  position: absolute;
  z-index: 1;
  top: 10vh;
  margin-inline: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

body main form {
  background-color: #fff;
  margin-block: 35px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--first);
  min-height: 70vh;
}

body main form h2 {
  font-size: xx-large;
  color: var(--accueil_Color);
  text-underline-position: from-font;
  padding: 20px;
  font-family: "Unbutton";
}

body main form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 7px;
  position: relative;
}

body main form > div input {
  min-width: 250px;
  border: 2px solid var(--accueil_Color);
  background-color: #0000;
  border-radius: 5px;
  height: 35px;
  font-size: medium;
  padding-inline: 5px;
  z-index: 1;
}

body main form > div label {
  background-color: white;
  color: var(--accueil_Color);
  padding-inline: 4px;
  font-size: large;
  position: absolute;
  left: 25px;
  top: 15px;
  transition: font-size 0.3s, top 0.3s;
}

.notEmpty,
body main form > div input:focus ~ label {
  font-size: medium !important;
  top: -1px !important;
  z-index: 2;
}

.buttonAccueil {
  padding: 15px;
  font-size: larger;
  background-color: var(--accueil_Color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
}

.buttonAccueil:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--accueil_Color);
  cursor: pointer;
  margin: 0;
}

#blocLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Logo*/
#brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 75px;
  height: 200px;
}

#brand > img {
  width: 350px;
  object-fit: cover;
  object-position: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu > hr {
  margin-block: 5px;
  border: 1px solid #000;
  background-color: #000;
  width: 100%;
}

#menu > div:not([id$="Form"]) {
  background-color: var(--accueil_Color);
  color: #fff;
  padding: 15px;
  font-size: x-large;
  border-radius: 15px;
  text-align: center;
  width: 240px;
  margin-block: 5px;
}

#menu > div:not([id$="Form"]):hover {
  margin-block: 3px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.slider {
  color: Black;
  font-size: 18vh;
  padding-block: 30vh;
  padding-inline: 7.5px;
}

#slidL {
  animation-name: bumpL;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bumpL {
  0% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  12.5% {
    padding-right: 15px;
    padding-left: 0px;
  }
  25% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  37.5% {
    padding-right: 15px;
    padding-left: 0px;
  }
  50% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  100% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

#slidR {
  animation-name: bumpR;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bumpR {
  0% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  12.5% {
    padding-left: 15px;
    padding-right: 0px;
  }
  25% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  37.5% {
    padding-left: 15px;
    padding-right: 0px;
  }
  50% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  100% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media (max-width: 1330px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
    padding-left: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accueil_Color);
  }

  body main > form {
    display: none;
  }
  body main div[id^="slid"] {
    display: none;
  }
  body main {
    margin: 0;
    overflow-y: auto;
    width: 100%;
  }
  #brand > img {
    width: 240px;
  }
  .ResponsiveForm {
    width: 240px;
    margin-block: 0px !important;
  }
  .ResponsiveInput {
    min-width: 200px !important;
    width: 200px;
  }
  .ResponsiveButton {
    font-size: medium;
    width: 120px;
  }
}
