:root {
    /*Main*/
    --first: #000;
    --second: #fff;

    /*font*/
    --accueil_Color: #000;
    --debugFont: white;
    --navFont: #000;

    /*scrollBar*/
    --Track: #0000;
    --Thumb: #000;

    /*Background*/
    --c_bg: #fff;
    --navBG: #fff;
    --LogHeadFoot: #000;
    --navLi_HOVER: #000;
    --bgc_pallette: #000;
    --bubble1: #000000;
    --bubble2: #111111;
    --bubble3: #757575;

    --c_page: #e7e7e7;
    --c_form: #fff;
    --c_font: #000;
    --c_inputBG: #fff;

    --c_dialog: rgb(41, 41, 41);

    --c_page_crea: rgba(0, 0, 0, 0.8);

    --c_table_odd_visuResult: #eeeeee;
    --c_table_hover: #bbbbbb;

    /*value JS*/
    --layoutVisuAllForms: 3;
}

/*Elements*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

textarea:focus,
select:focus,
input:focus {
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 84px);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--Track);
    padding-left: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--Thumb);
}
