:root {
  /*Main*/
  --first: #000;
  --second: #fff;

  /*font*/
  --accueil_Color: #000;
  --debugFont: white;
  --navFont: #000;

  /*scrollBar*/
  --Track: #0000;
  --Thumb: #000;

  /*Background*/
  --c_bg: #fff;
  --navBG: #fff;
  --LogHeadFoot: #000;
  --navLi_HOVER: #000;
  --bgc_pallette: #000;
  --bubble1: #000000;
  --bubble2: #111111;
  --bubble3: #757575;

  --c_page: #e7e7e7;
  --c_form: #fff;
  --c_font: #000;
  --c_inputBG: #fff;

  --c_dialog:rgb(41, 41, 41);

  --c_page_crea: rgba(0, 0, 0, 0.8);

  --c_table_odd_visuResult:#EEEEEE;
  --c_table_hover: #BBBBBB;

  /*value JS*/
  --layoutVisuAllForms: 3;
}

@font-face {
  font-family: "Rockford";
  src: url("/fonts/RockfordSans-Light.otf");
}

@font-face {
  font-family: "Unbutton";
  src: url("/fonts/unbutton.ttf");
}

@font-face {
  font-family: "LemonMilk";
  src: url("/fonts/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "CFSamouraiBob";
  src: url("/fonts/CFSamuraiBob.ttf");
}

@font-face {
  font-family: "Bebas-Regular";
  src: url("/fonts/Bebas-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

textarea:focus,
select:focus,
input:focus {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 84px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--Track);
  padding-left: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--Thumb);
}

/**button export**/

/*Create by @kirzin*/
/*Modify by Alexis FORESTIER*/
.buttonEXPORT {
  text-decoration: none;
  position: fixed;
  border: none;
  font-size: 22px;
  font-family: inherit;
  color: #fff;
  width: 5em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #000000, #ffffff, #ffffff, #000000);
  background-size: 300%;
  border-radius: 35px;
  z-index: 1;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.buttonEXPORT[disabled] {
  background: linear-gradient(90deg, #ffffff, #000000, #000000, #ffffff);
  cursor: not-allowed;
  color: white;
}

.buttonEXPORT:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
.buttonEXPORT:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #000000, #ffffff, #ffffff, #000000);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.buttonEXPORT[disabled]:before {
  background: linear-gradient(90deg, #ffffff, #000000, #000000, #000000);
}

.buttonEXPORT:hover::before {
  filter: blur(20px);
}

.buttonEXPORT:active {
  background: linear-gradient(32deg, #000000, #ffffff, #ffffff, #000000);
}

.buttonEXPORT[disabled]:active {
  background: linear-gradient(32deg, #ffffff, #000000, #000000, #ffffff);
}

.buttonEXPORT img,
.buttonEXPORT svg {
  width: 45px;
  height: 45px;
}

.buttonEXPORT img {
  filter: invert(1);
}

/*#################################################*/
/*HEADER*/
/*#################################################*/
/*NavBar*/

html:not([class^="reflect"]) header {
  z-index: 2;
  position: sticky;
  top: 0;
}

header {
  box-shadow: 0px 0.9px 1.2px rgba(0, 0, 0, 0.034),
  0px 1.9px 2.7px rgba(0, 0, 0, 0.05), 0px 3.2px 4.6px rgba(0, 0, 0, 0.061),
  0px 4.9px 6.9px rgba(0, 0, 0, 0.071), 0px 7px 10px rgba(0, 0, 0, 0.08),
  0px 9.9px 14.2px rgba(0, 0, 0, 0.089),
  0px 14.1px 20.1px rgba(0, 0, 0, 0.099),
  0px 20.4px 29.2px rgba(0, 0, 0, 0.11), 0px 31.5px 45px rgba(0, 0, 0, 0.126),
  0px 56px 80px rgba(0, 0, 0, 0.16);
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: var(--navBG);
}

header nav ul li {
  font-size: larger;
  width: 30%;
  text-align: center;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
}

header nav ul li:first-child > div {
  height: 100%;
}

header nav ul li:hover:not(:first-child) {
  background-color: var(--navLi_HOVER);
}

header nav ul li a {
  text-decoration: none;
  color: var(--navFont);
  width: 100%;
  height: 100%;
  padding-block: 25px;
}

header nav ul li:hover a {
  color: var(--second);
}

header nav ul li:first-child {
  width: 10%;
  align-items: center;
}

header nav ul li span {
  background-color: var(--first);
  height: 4px;
  width: 100%;
}

header nav ul li:hover span {
  background-color: var(--second);
}

#headerlogo {
  width: 75px;
  object-fit: cover;
  object-position: center;
  padding: 5px;
}

/*#################################################*/
/*LogInSignUp*/
/*#################################################*/

#LogInSignUp header,
#LogInSignUp footer {
  height: 10vh;
  width: 100%;
  background-color: var(--LogHeadFoot);
}

#BackgroundAnime {
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes hue-rotate {
  0% {
    filter: blur(15px) contrast(0.85) hue-rotate(0deg);
  }
  50% {
    filter: blur(15px) contrast(0.85) hue-rotate(180deg);
  }
  100% {
    filter: blur(15px) contrast(0.85) hue-rotate(360deg);
  }
}

#LogInSignUp main {
  position: absolute;
  z-index: 1;
  top: 10vh;
  margin-inline: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

#LogInSignUp main form {
  background-color: #fff;
  margin-block: 35px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--first);
  min-height: 70vh;
}

#LogInSignUp main form h2 {
  font-size: xx-large;
  color: var(--accueil_Color);
  text-underline-position: from-font;
  padding: 20px;
  font-family: "Unbutton";
}

#LogInSignUp main form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 7px;
  position: relative;
}

#LogInSignUp main form > div input {
  min-width: 250px;
  border: 2px solid var(--accueil_Color);
  background-color: #0000;
  border-radius: 5px;
  height: 35px;
  font-size: large;
  padding-inline: 5px;
  z-index: 1;
}

#LogInSignUp main form > div label {
  background-color: white;
  color: var(--accueil_Color);
  padding-inline: 4px;
  font-size: large;
  position: absolute;
  left: 25px;
  top: 15px;
  transition: font-size 0.3s, top 0.3s;
}

.notEmpty,
#LogInSignUp main form > div input:focus ~ label {
  font-size: medium !important;
  top: -1px !important;
  z-index: 1;
}

.buttonAccueil {
  padding: 15px;
  font-size: larger;
  background-color: var(--accueil_Color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
}

.buttonAccueil:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--accueil_Color);
  cursor: pointer;
  margin: 0;
}

#blocLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Logo*/
#brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 75px;
  height: 200px;
}

#brand > img {
  width: 350px;
  object-fit: cover;
  object-position: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu > hr {
  margin-block: 5px;
  border: 1px solid #000;
  background-color: #000;
  width: 100%;
}

#menu > div:not([id$="Form"]) {
  background-color: var(--accueil_Color);
  color: #fff;
  padding: 15px;
  font-size: x-large;
  border-radius: 15px;
  text-align: center;
  width: 240px;
  margin-block: 5px;
}

#menu > div:not([id$="Form"]):hover {
  margin-block: 3px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.slider {
  color: Black;
  font-size: 18vh;
  padding-block: 30vh;
  padding-inline: 7.5px;
}

#slidL {
  animation-name: bumpL;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bumpL {
  0% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  12.5% {
    padding-right: 15px;
    padding-left: 0px;
  }
  25% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  37.5% {
    padding-right: 15px;
    padding-left: 0px;
  }
  50% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  100% {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

#slidR {
  animation-name: bumpR;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bumpR {
  0% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  12.5% {
    padding-left: 15px;
    padding-right: 0px;
  }
  25% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  37.5% {
    padding-left: 15px;
    padding-right: 0px;
  }
  50% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  100% {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media (max-width: 1330px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
    padding-left: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accueil_Color);
  }

  #LogInSignUp main > form {
    display: none;
  }
  #LogInSignUp main div[id^="slid"] {
    display: none;
  }
  #LogInSignUp main {
    margin: 0;
    overflow-y: auto;
    width: 100%;
  }
  #brand > img {
    width: 240px;
  }
  .ResponsiveForm {
    width: 240px;
    margin-block: 0px !important;
  }
  .ResponsiveInput {
    min-width: 200px !important;
    width: 200px;
  }
  .ResponsiveButton {
    font-size: medium;
    width: 120px;
  }
}

/*#################################################*/
/*CreateForm*/
/*#################################################*/

/*--------------------------------------------------*/
/*Palette de Création*/

#togglePalette {
  position: fixed;
  left: 5%;
  top: 90px;
  color: var(--bgc_pallette);
  transition: transform 0.5s, color 0.5s;
}

#palette {
  background-color: var(--bgc_pallette);
  position: fixed;
  width: 200px;
  z-index: 2;
  height: calc(100vh - 84px);
  top: 84px;
  left: -200px;
  transition: left 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#palette > div:first-child {
  background-color: var(--second);
  display: flex;
  justify-content: center;
  color: var(--first);
}

#palette > div:first-child:hover {
  background-color: var(--first);
  color: var(--second);
  cursor: pointer;
}

#palette ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paletteLogo {
  margin-block-start: 15px;
  color: var(--first);
}

.button {
  padding: 7px;
  background-color: var(--second);
  min-width: 200px;
  margin-block-start: 15px;
  text-align: center;
  color: var(--first);
}

.button:hover {
  background-color: var(--first);
  color: var(--second);
  cursor: pointer;
}

#palette ul li {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#addSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 15px;
}

#palette hr {
  width: 50%;
  border: none;
  background-color: #545454;
  height: 3px;
  border-radius: 3px;
  margin-block-start: 15px;
}

#addSection button {
  background-color: var(--second);
  border: 2px solid var(--first);
  display: flex;
  padding: 5px;
  color: black;
  width: 100%;
  min-height: 45px;
  justify-content: start;
  align-items: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

#addSection button:hover,
#addSection button > *:hover {
  cursor: pointer;
}

#addSection button svg {
  height: 35px;
  width: 35px;
}

#ImportForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-doc {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-block-start: 15px;
}

#document-settings-label {
  font-size: x-large;
  color: var(--first);
  font-weight: bold;
}

#document-settings {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-block-start: 5px;
  border-radius: 10px;
  background-color: var(--navLi_HOVER);
}

#document-settings label {
  display: flex;
  flex-direction: column;
  color: white;
  margin-block-end: 5px;
  align-items: center;
}

#document-settings label input {
  background-color: #555;
  color: white;
  border: 0;
  border-block-start: 2px solid white;
  border-block-end: 2px solid white;
  padding: 3px;
}

.subButton {
  padding: 5px;
  margin: 4px;
  background-color: rgb(185, 185, 185);
  border-radius: 5px;
}

.subButton:hover {
  background-color: rgb(58, 58, 58);
  cursor: pointer;
}

/*########################################*/
/*Dialog*/

#bgGrey {
  display: none;
  top: 0;
  position: absolute;
  background: rgba(66, 66, 66, 0.75);
  width: 100%;
  height: 100%;
  z-index: 3;
}

dialog {
  display: none;
  flex-direction: column;
  left: 25vw;
  top: 25vh;
  width: 50vw;
  border: none;
  background: var(--c_dialog);
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;
  color: white;
  /* max-height: 75.5vh; */
  transition: top 0.5s, height 0.5s;
}

dialog .dialog-title {
  margin: 5px;
  background-color: var(--first);
}

dialog .dialog-title h2 {
  text-align: center;
  color: var(--second);
  font-family: 'LemonMilk';
  font-size: x-large;
  margin-block: 0.3rem;
}

dialog h3 {
  text-align: center;
  color: var(--second);
  font-family: 'LemonMilk';
  font-size: larger;
  margin-block: 0.3rem;
}

dialog .dialog-button {
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-inline: 20%;
  justify-content: space-evenly;
}

dialog .dialog-button button{
  padding: 5px;
  font-family: 'LemonMilk';
  font-size: small;
  border: none;
  border-radius: 5px;
  background-color: var(--second);
  color: var(--first);
}

dialog .dialog-button button:hover{
  background-color: var(--first);
  color: var(--second);
  cursor: pointer;
}

dialog label {
  font-family: monospace;
  color: var(--second);
  font-size: large;
  margin-block: 0.2rem;
}

dialog input:not([type="checkbox"]),
dialog select {
  border: none;
  font-family: monospace;
  color: var(--c_dialog);
  background-color: var(--second);
  font-size: large;
  margin-inline: 20px;
  padding: 3px 10px;
}

dialog > form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 10px;
  flex-direction: column;
}

dialog > form > input {
  font-size: larger;
  border-bottom: 3px solid white;
  padding: 5px;
}

#fileToString {
  display: none;
}

dialog > form > button {
  width: 25%;
  font-size: larger;
  margin: 10px;
}

dialog > pre {
  display: none;
  padding-block: 10px;
  padding-inline: 10%;
  background-color: var(--navFont);
  color: black;
  height: 80%;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

dialog > pre > label {
  font-size: x-large;
  font-weight: bold;
  color: #222222;
}

dialog > pre > code {
  background: #222222;
  color: lightgrey;
  padding: 15px;
  border-radius: 10px;
  display: inline-table;
}

/*Avec du contenu*/

dialog[class="content"] {
  top: 12.5vh;
}

dialog[class="content"] pre {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/*########################################*/
/*Form export*/
#export {
  display: flex;
  justify-content: center;
}

#export {
  /*padding: 10px;*/
  font-size: large;
  padding-inline: 10%;
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
}

/*document*/

#document {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: 10%;
}

#document label,
#document p {
  font-size: larger;
}

.page-content {
  height: 100%;
  width: 70%;
  max-width: 700px;
  min-height: 150px;
}

.page-content > div:first-child,
.page-content > div {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-block: 10px;
  padding: 10px;
  width: 100%;
  color: black;
}

.page-content div div:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  width: 92%;
  margin-left: 2%;
  border: none;
  background-color: #0000;
  border-bottom: 2px solid black;
  height: 24px;
  font-size: large;
  color: black;
  resize: none;
}

.page-content div .content div {
  display: flex;
  flex-direction: column;
  margin-block-start: 10px;
  width: 94%;
}

.page-content div .content div :not(p) {
  margin-inline-start: 20px;
}

.page-content div .content div input[type="radio"],
.page-content div .content div input[type="checkbox"] {
  margin-block-end: 10px;
}

.move {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -38px;
}

.move button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 33%;
  padding: 3px;
  margin-block: 3px;
  color: black;
  cursor: pointer;
  background-color: var(--second);
  border-radius: 5px;
}

.move button:nth-child(2) {
  background-color: var(--first);
  color: var(--second);
}

#form-content div:first-child label {
  /*width: 5%;*/
  font-weight: bold;
}

/*title*/
#document-title {
  display: flex;
  flex-direction: row;
  width: 55vw;
  justify-content: center;
  margin-block: 10px;
  align-items: center;
}

#document-title label {
  text-align: end;
  padding-right: 6px;
}

#document-title-input {
  border: none;
  background-color: #0000;
  padding-inline: 2px;
  font-size: large;
  border-block-end: 2px solid var(--first);
  padding-block: 1px;
  width: 75%;
}

/* form-content */

#form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#form-content .page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--c_page_crea);
  width: 80%;
  min-height: 250px;
  border-radius: 20px;
  align-items: center;
  margin-block: 10px;
  box-shadow: 0.8px 2.3px 1.9px rgba(0, 0, 0, 0.065),
  1.9px 5.4px 4.3px rgba(0, 0, 0, 0.093),
  3.5px 9.7px 7.7px rgba(0, 0, 0, 0.115),
  5.8px 16.1px 12.8px rgba(0, 0, 0, 0.135),
  9.5px 26.5px 21.2px rgba(0, 0, 0, 0.157),
  16.6px 46.2px 37px rgba(0, 0, 0, 0.185), 36px 100px 80px rgba(0, 0, 0, 0.25);
}

.page-title {
  color: var(--second);
  margin-block: 10px;
  width: 80%;
  text-align: center;
}

.page-title input {
  background-color: #0000;
  border: none;
  border-bottom: 2px solid var(--second);
  margin-left: 5px;
  min-width: 200px;
  width: 50%;
  color: var(--second);
  font-size: x-large;
}

.deletePage {
  display: block;
  background-color: var(--second);
  position: absolute;
  top: 20px;
  right: -25px;
  padding: 7px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0.8px 2.3px 1.9px rgba(0, 0, 0, 0.065),
  1.9px 5.4px 4.3px rgba(0, 0, 0, 0.093),
  3.5px 9.7px 7.7px rgba(0, 0, 0, 0.115),
  5.8px 16.1px 12.8px rgba(0, 0, 0, 0.135),
  9.5px 26.5px 21.2px rgba(0, 0, 0, 0.157),
  16.6px 46.2px 37px rgba(0, 0, 0, 0.185), 36px 100px 80px rgba(0, 0, 0, 0.25);
}

.deletePage img {
  width: 30px;
  object-fit: cover;
  object-position: center;
}

.deletePage:hover {
  cursor: pointer;
  background-color: red;
}

#form-content .selectedElement {
  border: 3px solid black;
}

#preview-mode{
  display: none;
  position: fixed;
  z-index: 3;
  width: 100vw;
}

/**Background bubble**/
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--c_bg);
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 30;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--bubble1);
  top: 34%;
  left: 55%;
  animation-duration: 64s;
  animation-delay: -153s;
  transform-origin: 3vw -16vh;
  box-shadow: -34vmin 0 4.5591027655191265vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--bubble1);
  top: 90%;
  left: 29%;
  animation-duration: 99s;
  animation-delay: -186s;
  transform-origin: 16vw -14vh;
  box-shadow: 34vmin 0 5.063637878086279vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--bubble2);
  top: 27%;
  left: 57%;
  animation-duration: 148s;
  animation-delay: -92s;
  transform-origin: 0vw 2vh;
  box-shadow: -34vmin 0 4.657578780479144vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--bubble3);
  top: 8%;
  left: 15%;
  animation-duration: 70s;
  animation-delay: -79s;
  transform-origin: 12vw 8vh;
  box-shadow: -34vmin 0 4.309543620504284vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--bubble1);
  top: 4%;
  left: 16%;
  animation-duration: 109s;
  animation-delay: -196s;
  transform-origin: 15vw -20vh;
  box-shadow: 34vmin 0 5.097151282037554vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--bubble1);
  top: 56%;
  left: 19%;
  animation-duration: 115s;
  animation-delay: -78s;
  transform-origin: 0vw 24vh;
  box-shadow: -34vmin 0 4.537458397299121vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--bubble2);
  top: 56%;
  left: 79%;
  animation-duration: 60s;
  animation-delay: -71s;
  transform-origin: 19vw 5vh;
  box-shadow: -34vmin 0 4.441855939633361vmin currentColor;
}
.background span:nth-child(7) {
  color: var(--bubble3);
  top: 7%;
  left: 1%;
  animation-duration: 43s;
  animation-delay: -155s;
  transform-origin: -22vw 24vh;
  box-shadow: -34vmin 0 5.037135153962445vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--bubble3);
  top: 84%;
  left: 34%;
  animation-duration: 134s;
  animation-delay: -144s;
  transform-origin: 14vw -11vh;
  box-shadow: -34vmin 0 4.688500277848648vmin currentColor;
}
.background span:nth-child(9) {
  color: var(--bubble2);
  top: 83%;
  left: 28%;
  animation-duration: 146s;
  animation-delay: -186s;
  transform-origin: 21vw -13vh;
  box-shadow: 34vmin 0 4.960530806211686vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--bubble1);
  top: 77%;
  left: 86%;
  animation-duration: 103s;
  animation-delay: -4s;
  transform-origin: -4vw 0vh;
  box-shadow: 34vmin 0 4.456195369467012vmin currentColor;
}
.background span:nth-child(11) {
  color: var(--bubble1);
  top: 6%;
  left: 5%;
  animation-duration: 147s;
  animation-delay: -136s;
  transform-origin: 7vw 8vh;
  box-shadow: -34vmin 0 4.633052396597099vmin currentColor;
}
.background span:nth-child(12) {
  color: var(--bubble3);
  top: 53%;
  left: 6%;
  animation-duration: 121s;
  animation-delay: -112s;
  transform-origin: -15vw -10vh;
  box-shadow: 34vmin 0 5.05686338692372vmin currentColor;
}
.background span:nth-child(13) {
  color: var(--bubble2);
  top: 50%;
  left: 34%;
  animation-duration: 159s;
  animation-delay: -61s;
  transform-origin: 8vw 4vh;
  box-shadow: 34vmin 0 5.184313995744491vmin currentColor;
}
.background span:nth-child(14) {
  color: var(--bubble2);
  top: 55%;
  left: 54%;
  animation-duration: 51s;
  animation-delay: -183s;
  transform-origin: -9vw -18vh;
  box-shadow: -34vmin 0 4.602424765629109vmin currentColor;
}
.background span:nth-child(15) {
  color: var(--bubble2);
  top: 29%;
  left: 15%;
  animation-duration: 78s;
  animation-delay: -133s;
  transform-origin: -10vw 14vh;
  box-shadow: -34vmin 0 5.11159209419379vmin currentColor;
}
.background span:nth-child(16) {
  color: var(--bubble2);
  top: 65%;
  left: 56%;
  animation-duration: 91s;
  animation-delay: -54s;
  transform-origin: 9vw 15vh;
  box-shadow: -34vmin 0 5.230555128971314vmin currentColor;
}
.background span:nth-child(17) {
  color: var(--bubble1);
  top: 95%;
  left: 90%;
  animation-duration: 29s;
  animation-delay: -68s;
  transform-origin: 15vw -13vh;
  box-shadow: -34vmin 0 4.664805485499578vmin currentColor;
}
.background span:nth-child(18) {
  color: var(--bubble3);
  top: 99%;
  left: 7%;
  animation-duration: 177s;
  animation-delay: -148s;
  transform-origin: -2vw 1vh;
  box-shadow: -34vmin 0 4.9197823247075165vmin currentColor;
}
.background span:nth-child(19) {
  color: var(--bubble2);
  top: 84%;
  left: 14%;
  animation-duration: 130s;
  animation-delay: -60s;
  transform-origin: 17vw -1vh;
  box-shadow: -34vmin 0 4.440481729958127vmin currentColor;
}

/*#################################################*/
/*VisuAllForms*/
/*#################################################*/

#visuAll {
  width: 100vw;
  align-items: center;
}

/*SEARCH*/
#visuAll > div:first-child {
  display: flex;
}

/*List forms*/
#visuAll > div:last-child {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.blocForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: calc(100% / var(--layoutVisuAllForms, 3));
}

.blocForm > div {
  margin-block: 10px;
  border: 2px solid var(--first);
  border-radius: 10px;
  background-color: var(--first);
  overflow: hidden;
}

.blocForm > div > a {
  text-decoration: none;
  color: var(--second);
}

.blocForm > div p {
  background-color: var(--first);
  text-align: center;
  padding: 5px;
  width: 200px;
}

.blocForm > div div {
  background-color: var(--second);
}

.blocForm > div img {
  object-fit: cover;
  object-position: center;
  width: 200px;
}

.search {
  display: flex;
  flex-direction: row;
  margin-block: 10px;
  border: 2px solid var(--first);
  background-color: var(--first);
}

.search input {
  padding: 10px;
  border: none;
  width: 30vw;
}

.search button {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--first);
  position: relative;
  top: -1px;
  height: calc(100% - -1px);
}

.search button span {
  background-color: #fff0;
  color: white;
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

/*#################################################*/
/*VisuForm*/
/*#################################################*/

#VisuForm, #preview-mode {
  font-family: LemonMilk, sans-serif;
  align-items: center;
  height: calc(100vh - 84px);
  background-color: var(--c_page);
}

#VisuForm #page , #preview-mode #page {
  margin-block: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.9px 1.5px 1.5px rgba(0, 0, 0, 0.04),
  2px 3.3px 3.4px rgba(0, 0, 0, 0.059), 3.3px 5.6px 5.8px rgba(0, 0, 0, 0.073),
  5.1px 8.6px 8.9px rgba(0, 0, 0, 0.084),
  7.6px 12.8px 13.2px rgba(0, 0, 0, 0.096),
  11.2px 18.8px 19.4px rgba(0, 0, 0, 0.107),
  16.7px 28.1px 29.1px rgba(0, 0, 0, 0.121),
  26.7px 44.8px 46.4px rgba(0, 0, 0, 0.14), 50px 84px 87px rgba(0, 0, 0, 0.18);
  background-color: var(--c_form);
  border-radius: 15px;
  padding: 10px;
  font-family: "Bebas-Regular";
}

@media (max-width: 850px) {
  #VisuForm #page {
    width: 96%;
  }
}

#VisuForm #page > * {
  max-width: 100%;
}

#VisuForm #page h1 {
  font-size: x-large;
  font-family: "LemonMilk";
}

#VisuForm #page h2 {
  font-size: xx-large;
  font-family: "LemonMilk";
}

#VisuForm #page h3 {
  font-size: large;
  font-family: "LemonMilk";
}

#VisuForm #page h4 {
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
  font-family: "LemonMilk";
}

#VisuForm #page form > div:not(:last-child) {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#VisuForm #page form div:not(:last-child) label {
  font-family: "Rockford";
  font-size: large;
  transition: color 0.3s;
}

#VisuForm #page h1,
#VisuForm #page h2,
#VisuForm #page h3,
#VisuForm #page form div:not(:last-child) label {
  text-overflow: clip;
  text-align: center;
}

#VisuForm #page form > div:last-child {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonVisuForm {
  background-color: var(--first);
  border: 2px solid var(--c_form);
  color: var(--c_form);
  font-size: smaller;
  border-radius: 5px;
  font-family: "Rockford";
  display: flex;
  text-decoration: none;
}

.buttonVisuForm span{
  font-family: "Rockford";
  padding: 10px;
}

.buttonVisuForm:hover {
  background-color: var(--c_form);
  border: 2px solid var(--first);
  color: var(--first);
  cursor: pointer;
}

.buttonBack {
  text-decoration: none;
  background-color: var(--first);
  border: 2px solid var(--c_page);
  color: var(--c_page);
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Rockford";
}

.buttonBack:hover {
  background-color: var(--c_page);
  border: 2px solid var(--first);
  color: var(--first);
  cursor: pointer;
}

.questionTitle {
  font-weight: bold;
}

.checkboxVisuForm {
  display: flex;
  height: 35px;
}
.checkboxVisuForm input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  left: 1px;
  top: 1px;
}
.checkboxVisuForm label {
  font-size: 20px;
  line-height: 26px;
  padding-left: 35px;
  margin: 0;
  display: block;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
.checkboxVisuForm label:before,
.checkboxVisuForm label:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.25s;
}
.checkboxVisuForm label:after {
  height: 10px;
  width: 16px;
  border-radius: 0 0 0 4px;
  border: 5px solid var(--c_font);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  top: 15px;
  left: 6px;
}
.checkboxVisuForm input[type="checkbox"]:checked + label {
  font-weight: 600;
}
.checkboxVisuForm input[type="checkbox"]:checked + label:before {
  opacity: 0;
  top: -10px;
}
.checkboxVisuForm input[type="checkbox"]:checked + label:after {
  opacity: 1;
  top: 6px;
}
@media only screen and (max-width: 767px) {
  .checkboxVisuForm {
    margin: 0 0 20px;
  }
}


/*#################################################*/
/*VisuResults*/
/*#################################################*/

#visuResults h1 {
  margin-left: 10px;
  margin-block: 20px;
  font-family: 'LemonMilk';
}

#table-resultats {
  margin-block: 15px;
  margin-inline: 10px;
}

#table-resultats tr > td {
  padding:15px 0;
  background:var(--c_bg);
  text-align: center;
  font-family: "Rockford";
  font-size: large;
}

#table-resultats tr:nth-child(odd) > td {
  padding:15px 0;
  background:var(--c_table_odd_visuResult);
}

#table-resultats tbody tr:hover td {
  background:var(--c_table_hover);
}

#table-resultats thead th {
  width:25%;
  padding:15px 0;
  background-color:var(--first);
  color: var(--second);
  overflow: hidden;
}

#table-resultats thead th::after {
  content: "-";
  position: relative;
  left: 20px;
}

#table-resultats thead .ASC::after {
  content: "▲";
}

#table-resultats thead .DESC::after {
  content: "▼";
}

#list-filters{
  width: 100%;
  margin-inline: 20px;
  display: flex;
  position: relative;
}

#list-filters-button{
  background-color: var(--first);
  color: var(--second);
  font-size: large;
  width: calc(100% - 40px);
  border: 1px solid var(--first);
  padding-block: 5px;
  font-family: 'LemonMilk';
}

#list-filters-button:hover{
  background-color: var(--second);
  color: var(--first);
  cursor: pointer;
}

#list-filters > div{
  display: flex;
  position: absolute;
  top: 33px;
  flex-direction: column;
  border: 2px solid var(--first);
  transition: height 0.5s;
  z-index: 1;
  background-color: var(--second);
  width: calc(100% - 40px);
}

#list-filters > div[style="height: 0px;"] > div{
  display: none;
}

#list-filters > div > div {
  display: flex;
  height: 35px;
}
#list-filters > div > div input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  left: 1px;
  top: 1px;
}
#list-filters > div > div label {
  font-size: 20px;
  line-height: 26px;
  padding-left: 35px;
  margin: 0;
  display: block;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
#list-filters > div > div label:before,
#list-filters > div > div label:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.25s;
}
#list-filters > div > div label:after {
  height: 10px;
  width: 16px;
  border-radius: 0 0 0 4px;
  border: 5px solid var(--c_font);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  top: 15px;
  left: 6px;
}
#list-filters > div > div input[type="checkbox"]:checked + label {
  font-weight: 600;
}
#list-filters > div > div input[type="checkbox"]:checked + label:before {
  opacity: 0;
  top: -10px;
}
#list-filters > div > div input[type="checkbox"]:checked + label:after {
  opacity: 1;
  top: 6px;
}

/*#################################################*/
/*DashBoard*/
/*#################################################*/

#DashBoard {
  display: flex;
  flex-direction: column;
}

#DashBoard > div:first-child {
  margin-block: 2rem;
  text-align: center;
}

#DashBoard > div:first-child > h2 {
  font-size: x-large;
  font-family: 'LemonMilk';
}

#DashBoard > div:first-child > p {
  font-size: large;
  font-family: "Bebas-Regular";
}

#dash_board_data {
  display: flex;
  flex-direction: row;
}

#dash_board_data > div {
  width: 50%;
}

.dash_board_part {
  border: 0.2rem solid var(--first);
}

.dash_board_part > h2 {
  background-color: var(--first);
  color: var(--second);
  font-size: large;
  font-family: 'LemonMilk';
  padding: 8px 3px;
}

.blocFormDashBoard {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  background-color: var(--first);
  border: 0.2rem solid var(--first);
  border-radius: 10px;
  overflow: hidden;
}

.blocFormDashBoard > div:first-child a{
  padding: 5px;
}

.blocFormDashBoard > div:first-child img{
  width: 70px;
  object-fit: cover;
  object-position: center;
}

.blocFormDashBoard > div:last-child{
  display: flex;
  flex-direction: column;
  padding: 7px;
  background-color: var(--second);
  width: 100%;
}

.blocFormDashBoard > div:last-child > p{
  font-size: medium;
  font-family: 'LemonMilk';
}

.blocFormDashBoard > div:last-child > div {
  display: flex;
  flex-direction:row;
}

.blocFormDashBoard > div:last-child > div > button,
.blocFormDashBoard > div:last-child > div > a {
  padding: 3px;
  text-decoration: none;
  border: 1px solid var(--first);
  background-color: var(--first);
  color: var(--second);
  border-radius: 5px;
  font-family: 'LemonMilk';
  font-size: small;
  margin-inline: 0.5rem;
}

.blocFormDashBoard > div:last-child > div > button:hover,
.blocFormDashBoard > div:last-child > div > a:hover {
  background-color: var(--second);
  color: var(--first);
  cursor: pointer;
}

#list-of-groups > img {
  width: 50px;
  object-fit: cover;
  object-position: center;
  margin: 0.2rem 0.5rem; 
}

#list-of-groups > hr {
  margin: 1rem 3rem;
  border: 0.2rem solid var(--first);
}

.blocGroup {
  background-color: var(--first);
  border: 0.2rem solid var(--first);
  margin: 0.5rem;
  border-radius: 10px;
}

.blocGroup div:first-child {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding: 5px;
}

.blocGroup div:first-child img{
  background-color: var(--second);
  width: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 0.1rem solid var(--second);
}

.blocGroup div:first-child h2{
  color: var(--second);
  font-size: medium;
  font-family: 'LemonMilk';
  margin-inline-start: 1rem;
}

.blocGroup div:last-child {
  display: flex;
  flex-direction:column;
  background-color:var(--second);
  border: 0.1rem solid var(--first);
  border-end-start-radius: 7px;
  border-end-end-radius: 7px;
}

.blocGroup div:last-child ul{
  list-style: none;
  padding:1rem;
}

.blocGroup div:last-child ul li {
  color: var(--first);
  font-size: small;
  font-family: 'LemonMilk';
  margin-inline-start: 1rem;
}

/*dialog checkbox*/
.checkboxDialog {
  display: flex;
  height: 35px;
}
.checkboxDialog input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  left: 1px;
  top: 1px;
}
.checkboxDialog label {
  font-size: 20px;
  line-height: 26px;
  padding-left: 35px;
  margin: 0;
  display: block;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
.checkboxDialog label:before,
.checkboxDialog label:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--second);
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all 0.25s;
}
.checkboxDialog label:after {
  height: 10px;
  width: 16px;
  border-radius: 0 0 0 4px;
  border: 5px solid var(--second);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  top: 15px;
  left: 6px;
}
.checkboxDialog input[type="checkbox"]:checked + label {
  font-weight: 600;
}
.checkboxDialog input[type="checkbox"]:checked + label:before {
  opacity: 0;
  top: -10px;
}
.checkboxDialog input[type="checkbox"]:checked + label:after {
  opacity: 1;
  top: 6px;
}

#dash_list-checkbox {
  display: flex;
  flex-direction: column;
}

